@font-face {
    font-family: bebas;
    src: url(BEBAS.ttf);
}
h1 {
    padding-top: 2%;
    font-size: 450%;
    text-align: center;
    font-family: bebas;
}

.header {
    font-size: 150%;
    padding: 2%;
    width: 100%;
}

.content {
    width: 100%;
}

div.ui.horizontal.list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}